div.box1 {
background:#996B5E;
text-align:center;
color:black;
width:400px;
height:200px;
border:2px inset black;
transition:all ease 2s;
border-radius:5px;
overflow:auto;
display: inline-block;
}


div.box2 {
background:#996B5E;
text-align:center;
color:black;
width:400px;
height:200px;
border:2px inset black;
transition:all ease 2s;
border-radius:5px;
overflow:auto;
display: inline-block;
}



div.box3 {
background:#996B5E;
text-align:center;
color:black;
width:700px;
height:60px;
border:2px inset black;
transition:all ease 2s;
border-radius:5px;
overflow:hidden;
}

.box3:hover {
background:#996B5E;
text-align:center;
color:black;
width:700px;
height:255px;
border:2px inset black;
transition:all ease 2s;
border-radius:5px;
overflow:auto;
}

div.boxfloat {
background:#996B5E;
color:black;
border:2px inset black;
position:fixed;
text-align:center;
border-radius:5px;
left:0px;
bottom:0px;
width:165px;
height:200px;
overflow:auto;
}

body {background: url("https://i.imgur.com/BVQqEFh.jpg") fixed;background-repeat: no-repeat;background-size: cover;color: #000;}

.welcomeback, .white, .bottomlinks li a:hover, .bottomlinks li a {
color: #000;
}

h1, h3 , .sidebar h3 {
font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif !important;
text-align: left;
color: #000;
border-bottom: 1px inset #000;
}

/* BUTTONS */
input[type="button"], input[type="submit"], input[type="submit"]:hover {
background: #815852;
color: #000;
border: 1px inset #000;
text-shadow: none;
font-weight: bold;
font-size: 14px;
border-radius: 5px;
 font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}
 
 
/* LINKS */
 
.table a:link, .table a:active, .table a:visited, .right a:link, .right a:active, .right a:visited, .bottom a:link, .bottom a:active, .bottom a:visited, .topbar a:link, .topbar a:visited, .topbar a:active, a:link, a:visited, a:active {
color: #000000;
font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}
 
.table .top a:link, .table .top a:active, .table .top a:visited, .table th a:link, .table th a:active, .table th a:visited {
border-bottom: 1px inset #000000;
color: #000000;
font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}
 
/* TOPBAR */
 
.topbar {
background: #996B5E;
border: 2px inset #000;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}

.badge {
background: #996B5E;
border: 2px inset #000;
font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}
 
/* NAVBAR */
 
.main {
background: rgba(255, 238, 198, 0.21);
border: 2px inset #000;
box-shadow: none;
font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}
 
.navbar {
background: #996B5E;
border-bottom: 2px inset #000;
color: #000;
font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}
 
.navbar-default .navbar-nav > li > a {
color: #000;
font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}
 
.navbar-default .navbar-nav li a:hover {
color: #000;
background: #815852;
border-left: 1px inset #000;
border-right: 1px inset #000;
font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
} 
 
 
 
/* SIDEBAR */
 
.sidebar {
background: rgba(255, 238, 198, 0.21);
border: 0px solid #000;
border-bottom: 2px inset #000;
border-left: 2px inset #000;
color: #000;
font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}
 
.col-md-3 .panel {
background: #996B5E;
border: 2px inset #000;
box-shadow: none;  
font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}
 
.progress-bar {
background: #815852;
font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}
 
.progress {
background: #ffeec6;
border: 1px inset #000;
font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}
/* text on progress bars */
.progress div {color: #000;}
 
/* CHAT */
 
.chat_light, .chat_dark {
background: #996B5E;
font-size: 11px;
color: #000;
font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}

.chatContainer {
border: 1px inset #000;
font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}
 
.userstolen {
background: none;
 font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}

.alert-danger {
color: #000000;
background: #815852;
border: 2px inset #000;
 font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}

.alert-success {
color: #000;
background: #ffeec6;
border: 2px inset #000;
font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}

.breadcrumb {
background:  #996B5E;
font-size: 13px;
border: 2px inset #000;
font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}
 
.breadcrumb>.active {
color: #000;
font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}
 
h1 small, h2, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
font-family: "Carter One";
color: #000;
font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}
 
.col-md-9 {
background: none;
border: 0px inset #000;
font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}
 
/* TABLES */
 
#lion_image {
border-radius: 25px;
overflow: hidden;
border: 1px inset #000;
font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}
 
.table, .item {
border: 2px solid #000;
background: #996B5E;
border-collapse: separate;
font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}

.table .right, .table .right_odd {
background: none;
border: 0px inset #000;
font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}

/* top and bottom of boxes */
div .feature, .cave-grid, div .left, .mound-grid,  .table .bottom,  .table .top, .table th, .item-header, .item-footer {
border: 0px inset #000;
background: #996B5E;
color: #000;
font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}

/* cave and mound boxes */
.cave-grid, div .left, .mound-grid {
border: 1px inset #000;
background: #996B5E;
color: #000;
font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}

/* left part inside box */
.table .left {
border: 1px inset #000;
background: #815852;
color: #000;
font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}

/* right part inside box */
.inner-table .right {
background: #ffeec6;
border: 1px inset #000;
border-left: none;
font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}

/* logo */
body > div.container.main > div:nth-child(1) > nav > div.navbar-header > a > img {
 content: url('https://i.imgur.com/g8SzG5S.png')}

/* SCROLLBAR */
::-webkit-scrollbar {
width: 10px;
}
  
/* part the scroll sits on*/
::-webkit-scrollbar-track {
background-color: #996B5E;
}
  
/* The thingy that moves */
::-webkit-scrollbar-thumb {
background-color:  #815852;
border-radius: 0px;
border: none;
}

/* UNSEEN TEXT THAT SHOULD ALWAYS BE BLACK */
textarea {color:black!important;}

input[tpye="text"] {color:black!important;}

select {color:black!important;}

 
 /* fill in for extra info */
 
 
 /* HTML is 
<div class="box1"> 
TEXT HERE
</div>
<div class="box2"> 
TEXT HERE
</div>
<div class="box3"> 
TEXT HERE
</div>
<div class="boxfloat"> 
TEXT HERE
</div>
<div class="boxfloat">Floating box</div> */
