body {background: url("https://i.imgur.com/nxqfK1D.jpg") fixed;background-repeat: no-repeat;background-size: cover;color: #000;}

.welcomeback, .white, .bottomlinks li a:hover, .bottomlinks li a {
color: #000;
}

h1, h3 , .sidebar h3 {
font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif !important;
text-align: left;
color: #000;
border-bottom: 1px solid #000;
}

/* BUTTONS */
input[type="button"], input[type="submit"], input[type="submit"]:hover {
background: #E15B47;
color: #000;
border: 1px solid #000;
text-shadow: none;
font-weight: bold;
font-size: 14px;
border-radius: 5px;
font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}
 
 
/* LINKS */
 
.table a:link, .table a:active, .table a:visited, .right a:link, .right a:active, .right a:visited, .bottom a:link, .bottom a:active, .bottom a:visited, .topbar a:link, .topbar a:visited, .topbar a:active, a:link, a:visited, a:active {
color: #000000;
font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}
 
.table .top a:link, .table .top a:active, .table .top a:visited, .table th a:link, .table th a:active, .table th a:visited {
border-bottom: 1px solid #000000;
color: #000000;
font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}
 
/* TOPBAR */
 
.topbar {
background: #E15B47;
border: 1px solid #000;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}

.badge {
background: #E15B47;
border: 1px solid #000;
font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}
 
/* NAVBAR */
 
.main {
background: rgba(225, 91, 71, 0.21);
border: 1px solid #000;
box-shadow: none;
font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}
 
.navbar {
background: #E15B47;
border-bottom: 1px solid #000;
color: #000;
font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}
 
.navbar-default .navbar-nav > li > a {
color: #000;
font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}
 
.navbar-default .navbar-nav li a:hover {
color: #000;
background: #B9423B;
border-left: 1px solid #000;
border-right: 1px solid #000;
font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
} 
 
 
 
/* SIDEBAR */
 
.sidebar {
background: rgba(225, 91, 71, 0.21);
border: 0px solid #000;
border-bottom: 1px solid #000;
border-left: 1px solid #000;
color: #000;
font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}
 
.col-md-3 .panel {
background: #E15B47;
border: 1px solid #000;
box-shadow: none;  
font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}
 
.progress-bar {
background: url("https://i.imgur.com/nxqfK1D.jpg");
font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}
 
.progress {
background: #fcebe9;
border: 1px solid #000;
font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}
/* text on progress bars */
.progress div {color: #000;}
 
/* CHAT */
 
.chat_light, .chat_dark {
background: #E15B47;
font-size: 11px;
color: #000;
font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}

.chatContainer {
border: 1px solid #000;
font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}
 
.userstolen {
background: none;
font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}

.alert-danger {
color: #000000;
background: #B9423B;
border: 1px solid #000;
font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}

.alert-success {
color: #000;
background: #B9423B;
border: 1px solid #000;
font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}

.breadcrumb {
background:  #E15B47;
font-size: 13px;
border: 1px solid #000;
font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}
 
.breadcrumb>.active {
color: #000;
font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}
 
h1 small, h2, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
font-family: "Carter One";
color: #000;
font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}
 
.col-md-9 {
background: none;
border: 0px solid #000;
font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}
 
/* TABLES */
 
#lion_image {
border-radius: 25px;
overflow: hidden;
border: 1px solid #000;
font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}
 
.table, .item {
border: 1px solid #000;
background: #E15B47;
border-collapse: separate;
font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}

.table .right, .table .right_odd {
background: none;
border: 0px solid #000;
font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}

/* top and bottom of boxes */
div .feature, .cave-grid, div .left, .mound-grid,  .table .bottom,  .table .top, .table th, .item-header, .item-footer {
border: 0px solid #000;
background: #E15B47;
color: #000;
font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}

/* cave and mound boxes */
.cave-grid, div .left, .mound-grid {
border: 1px solid #000;
background: #E15B47;
color: #000;
font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}

/* left part inside box */
.table .left {
border: 1px solid #000;
background: #B9423B;
color: #000;
font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}

/* right part inside box */
.inner-table .right {
background: #fcebe9;
border: 1px solid #000;
border-left: none;
font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}

/* logo */
body > div.container.main > div:nth-child(1) > nav > div.navbar-header > a > img {
content: url('https://i.imgur.com/Zq3Da5n.png')

 
 /* main_orange= #E15B47 dark_orange= #B9423B off_white= #fcebe9 */

 
 
