div.box1 {
background:rgba(0, 42, 102, 0.7);
text-align:center;
color:#2788C2;
width:700px;
height:60px;
border:1px groove #2788C2;
transition:all ease 2s;
border-radius:5px;
overflow:hidden;
}

.box1:hover {
background:rgba(0, 42, 102, 0.7);
text-align:center;
color:#2788C2;
width:700;
height:255px;
border:1px groove #2788C2;
transition:all ease 2s;
border-radius:5px;
overflow:auto;
}

div.box2 {
background:rgba(0, 42, 102, 0.7);
text-align:center;
color:#2788C2;
width:700px;
height:60px;
border:1px groove #2788C2;
transition:all ease 2s;
border-radius:5px;
overflow:hidden;
}

.box2:hover {
background:rgba(0, 42, 102, 0.7);
text-align:center;
color:#2788C2;
width:700px;
height:255px;
border:1px groove #2788C2;
transition:all ease 2s;
border-radius:5px;
overflow:auto;
}

div.box3 {
background:rgba(0, 42, 102, 0.7);
text-align:center;
color:#2788C2;
width:700px;
height:60px;
border:1px groove #2788C2;
transition:all ease 2s;
border-radius:5px;
overflow:hidden;
}

.box3:hover {
background:rgba(0, 42, 102, 0.7);
text-align:center;
color:#2788C2;
width:700px;
height:255px;
border:1px groove #2788C2;
transition:all ease 2s;
border-radius:5px;
overflow:auto;
}

div.boxfloat {
background:rgba(0, 42, 102,.7);
color:#2788C2;
border:1px groove #2788C2;
position:fixed;
text-align:center;
border-radius:5px;
left:0px;
bottom:0px;
width:165px;
height:200px;
overflow:auto;
}

body {background: url("https://i.imgur.com/b1jEi0S.jpg") fixed;background-repeat: no-repeat;background-size: cover;color: #000;}

.welcomeback, .white, .bottomlinks li a:hover, .bottomlinks li a {
color: #2788C2;
}

h1, h3 , .sidebar h3 {
font-family: 'Comic Sans MS' !important;
text-align: left;
color: #2788C2;
border-bottom: 1px groove #2788C2;
}

/* BUTTONS */
input[type="button"], input[type="submit"], input[type="submit"]:hover {
background: rgba(232, 192, 216, 0.7);
color: #000;
border: 1px solid #2788C2;
text-shadow: none;
font-weight: bold;
font-size: 14px;
border-radius: 5px;
font-family: 'Comic Sans MS';
}
 
 
/* LINKS */
 
.table a:link, .table a:active, .table a:visited, .bottom a:link, .bottom a:active, .bottom a:visited, .topbar a:link, .topbar a:visited, .topbar a:active, a:link, a:visited, a:active {
color: #000;
font-family: 'Comic Sans MS';
}
 
.table .top a:link, .table .top a:active, .table .top a:visited, .table th a:link, .table th a:active, .table th a:visited, .table .item a:link, .table .item a:active, .table .item a:visited{
border-bottom: 1px groove #2788C2;
color: #000;
font-family: 'Comic Sans MS';
}

a:hover, .table a:hover, .right a:hover, .bottom a:hover, .topbar a:hover, .top a:hover, .tabler .top a:hover, .table th a:hover, .table .item a:hover{
 color: #000;
}

.right a:link, .right a:active, .right a:visited{
 color:#000;
}

.right a:hover{
 color:#2788C2;
}

.table .right a:link, .table .right_odd a:link, .table .right a:visited, .table .right_odd a:visited, .table .right a:active, .table .right_odd a:active{
 color:#2788C2;
}

.table .right a:hover, .table .right_odd a:hover{
 color:#000;
}

.inner-table .right a:link, .inner-table .right a:visited, .inner-table .right a:active{
 color:#000;
}

.inner-table .right a:hover{
 color:#2788C2;
}
 
/* TO
 
/* TOPBAR */
 
.topbar {
background: rgba(0, 42, 102, 0.7);
border: 1px groove #2788C2;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
font-family: 'Comic Sans MS';
 color: #2788C2;
}

.badge {
background: rgba(0, 42, 102, 0.7);
border: 1px groove #2788C2;
font-family: 'Comic Sans MS';
}
 
/* NAVBAR */
 
.main {
background: rgba(0, 42, 102, 0.5);
border: 1px groove #2788C2;
box-shadow: none;
font-family: 'Comic Sans MS';
 color: #2788C2;
}
 
.navbar {
background: rgba(0, 42, 102, 0.7);
border-bottom: 1px groove #2788C2;
color: #2788C2;
font-family: 'Comic Sans MS';
}
 
.navbar-default .navbar-nav > li > a {
color: #2788C2;
font-family: 'Comic Sans MS';
}
 
.navbar-default .navbar-nav li a:hover {
color: #000;
background: #ffe6fe;
border-left: 1px solid #2788C2;
border-right: 1px solid #2788C2;
font-family: 'Comic Sans MS';
} 
 
 
 
/* SIDEBAR */
 
.sidebar {
background: rgba(0, 42, 102, 0.21);
border: 0px solid #2788C2;
border-bottom: 1px groove #2788C2;
border-left: 1px groove #2788C2;
color: #2788C2;
font-family: 'Comic Sans MS';
}
 
.col-md-3 .panel {
background: rgba(0, 42, 102, 0.7);
border: 1px groove #2788C2;
box-shadow: none;  
font-family: 'Comic Sans MS';
 color: #2788C2;
}
 
.progress-bar {
background: #E8C0D8;
font-family: 'Comic Sans MS';
}
 
.progress {
background: #B89BD0;
border: 1px solid #2788C2;
font-family: 'Comic Sans MS';
}
/* text on progress bars */
.progress div {color: #000;}
 
/* CHAT */
 
.chat_light, .chat_dark {
background: rgba(0, 42, 102, 0.7);
font-size: 11px;
color: #2788C2;
font-family: 'Comic Sans MS';
}

.chatContainer {
border: 1px solid #2788C2;
font-family: 'Comic Sans MS';
 color: #2788C2;
}
 
.userstolen {
background: none;
font-family: 'Comic Sans MS';
 color: #2788C2;
}

.alert-danger {
color: #000;
background: rgba(232, 192, 216, 0.7);
border: 1px groove #2788C2;
font-family: 'Comic Sans MS';
}

.alert-success {
color: #000;
background: rgba(184, 155, 208, 0.7);
border: 1px groove #2788C2;
font-family: 'Comic Sans MS';
}

.breadcrumb {
background:  rgba(0, 42, 102, 0.7);
font-size: 13px;
border: 1px groove #2788C2;
font-family: 'Comic Sans MS';
 color: #2788C2;
}
 
.breadcrumb>.active {
color: #000;
font-family: 'Comic Sans MS';
}
 
h1 small, h2, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
font-family: "Carter One";
color: #2788C2;
font-family: 'Comic Sans MS';
}
 
.col-md-9 {
background: none;
border: 0px groove #2788C2;
font-family: 'Comic Sans MS';
 color: #2788C2;
}
 
/* TABLES */
 
#lion_image {
border-radius: 25px;
overflow: hidden;
border: 1px solid #2788C2;
font-family: 'Comic Sans MS';
 color: #2788C2;
}
 
.table, .item {
border: 1px groove #2788C2;
background: rgba(0, 42, 102, 0.7);
border-collapse: separate;
font-family: 'Comic Sans MS';
 color: #2788C2;
}

.table .right, .table .right_odd {
background: none;
border: 0px solid #2788C2;
font-family: 'Comic Sans MS';
 color: #2788C2;
}

/* top and bottom of boxes */
div .feature, .cave-grid, div .left, .mound-grid,  .table .bottom,  .table .top, .table th, .item-header, .item-footer {
border: 0px solid #2788C2;
background: rgba(0, 42, 102, 0.7);
color: #2788C2;
font-family: 'Comic Sans MS';
}

/* cave and mound boxes */
.cave-grid, div .left, .mound-grid {
border: 1px solid #2788C2;
background: #002a66;
color: #2788C2;
font-family: 'Comic Sans MS';
}

/* left part inside box */
.table .left {
border: 1px solid #2788C2;
background: rgba(232, 192, 216, 0.7);
color: #000;
font-family: 'Comic Sans MS';
}

/* right part inside box */
.inner-table .right {
background: rgba(184, 155, 208, 0.7);
border: 1px solid #2788C2;
border-left: none;
font-family: 'Comic Sans MS';
 color: #000;
}

/* logo */
body > div.container.main > div:nth-child(1) > nav > div.navbar-header > a > img {
 content: url('https://i.imgur.com/z7HbLHg.png')}

/* SCROLLBAR */
::-webkit-scrollbar {
width: 10px;
}
  
/* part the scroll sits on*/
::-webkit-scrollbar-track {
background-color: #002a66;
}
  
/* The thingy that moves */
::-webkit-scrollbar-thumb {
background-color:  #E8C0D8;
border-radius: 0px;
border: none;
}

/* UNSEEN TEXT THAT SHOULD ALWAYS BE BLACK */
textarea {color:black!important;}

input[tpye="text"] {color:black!important;}

select {color:black!important;}

/* Start http://www.cursors-4u.com */ body, a:hover {cursor: url(http://cur.cursors-4u.net/cursors/cur-9/cur267.cur), progress !important;} /* End http://www.cursors-4u.com */
 /* fill in for extra info */
main:#2788C2 secondary:#E8C0D8 tertiary:#B89BD0
 
 /* HTML is 
<div class="box1"> 
TEXT HERE
</div>
<div class="box2"> 
TEXT HERE
</div>
<div class="box3"> 
TEXT HERE
</div>
<div class="boxfloat"> 
TEXT HERE
</div>
<div class="boxfloat">Floating box</div> */
