div.box1 {
background:rgba(130, 163, 206, 0.21);
text-align:center;
color:black;
width:700px;
height:60px;
border:1px solid black;
transition:all ease 2s;
border-radius:5px;
overflow:hidden;
}

.box1:hover {
background:rgba(130, 163, 206, 0.21);
text-align:center;
color:black;
width:700;
height:255px;
border:1px solid black;
transition:all ease 2s;
border-radius:5px;
overflow:auto;
}

div.box2 {
background:rgba(130, 163, 206, 0.21);
text-align:center;
color:black;
width:700px;
height:60px;
border:1px solid black;
transition:all ease 2s;
border-radius:5px;
overflow:hidden;
}

.box2:hover {
background:rgba(130, 163, 206, 0.21);
text-align:center;
color:black;
width:700px;
height:255px;
border:1px solid black;
transition:all ease 2s;
border-radius:5px;
overflow:auto;
}

div.box3 {
background:rgba(130, 163, 206, 0.21);
text-align:center;
color:black;
width:700px;
height:60px;
border:1px solid black;
transition:all ease 2s;
border-radius:5px;
overflow:hidden;
}

.box3:hover {
background:rgba(130, 163, 206, 0.21);
text-align:center;
color:black;
width:700px;
height:255px;
border:1px solid black;
transition:all ease 2s;
border-radius:5px;
overflow:auto;
}

div.boxfloat {
background:rgba(130, 163, 206,.7);
color:black;
border:1px solid black;
position:fixed;
text-align:center;
border-radius:5px;
left:0px;
bottom:0px;
width:165px;
height:200px;
overflow:auto;
}

body {background: url("https://i.imgur.com/t3EeslZ.jpg") fixed;background-repeat: no-repeat;background-size: cover;color: #000;}

.welcomeback, .white, .bottomlinks li a:hover, .bottomlinks li a {
color: #000;
}

h1, h3 , .sidebar h3 {
font-family: Arial !important;
text-align: left;
color: #000;
border-bottom: 1px solid #000;
}

/* BUTTONS */
input[type="button"], input[type="submit"], input[type="submit"]:hover {
background: rgba(130, 163, 206, 0.21);
color: #000;
border: 1px solid #000;
text-shadow: none;
font-weight: bold;
font-size: 14px;
border-radius: 5px;
 font-family: Arial;
}
 
 
/* LINKS */
 
.table a:link, .table a:active, .table a:visited, .right a:link, .right a:active, .right a:visited, .bottom a:link, .bottom a:active, .bottom a:visited, .topbar a:link, .topbar a:visited, .topbar a:active, a:link, a:visited, a:active {
color: #000000;
 font-family: Arial;
}
 
.table .top a:link, .table .top a:active, .table .top a:visited, .table th a:link, .table th a:active, .table th a:visited {
border-bottom: 1px solid #000000;
color: #000000;
 font-family: Arial;
}
 
/* TOPBAR */
 
.topbar {
background: rgba(130, 163, 206, 0.21);
border: 1px solid #000;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
 font-family: Arial;
}

.badge {
background: rgba(130, 163, 206, 0.21);
border: 1px solid #000;
 font-family: Arial;
}
 
/* NAVBAR */
 
.main {
background: rgba(130, 163, 206, 0.21);
border: 1px solid #000;
box-shadow: none;
 font-family: Arial;
}
 
.navbar {
background: rgba(130, 163, 206, 0.21);
border-bottom: 1px solid #000;
color: #000;
 font-family: Arial;
}
 
.navbar-default .navbar-nav > li > a {
color: #000;
 font-family: Arial;
}
 
.navbar-default .navbar-nav li a:hover {
color: #000;
background: #FFF9F3;
border-left: 1px solid #000;
border-right: 1px solid #000;
 font-family: 'Special Elite', Arial ,cursive;
} 
 
 
 
/* SIDEBAR */
 
.sidebar {
background: rgba(130, 163, 206, 0.21);
border: 0px solid #000;
border-bottom: 1px solid #000;
border-left: 1px solid #000;
color: #000;
 font-family: Arial;
}
 
.col-md-3 .panel {
background: rgba(130, 163, 206, 0.21);
border: 1px solid #000;
box-shadow: none;  
 font-family: Arial;
}
 
.progress-bar {
background: #022255;
 font-family: Arial;
}
 
.progress {
background: #f7f7f7;
border: 1px solid #000;
 font-family: 'Special Elite', Arial ,cursive;
}
/* text on progress bars */
.progress div {color: #000;}
 
/* CHAT */
 
.chat_light, .chat_dark {
background: rgba(130, 163, 206, 0.21);
font-size: 11px;
color: #000;
 font-family: Arial;
}

.chatContainer {
border: 1px solid #000;
 font-family: Arial;
}
 
.userstolen {
background: none;
 font-family: Arial;
}

.alert-danger {
color: #000000;
background: rgba(130, 163, 206, 0.21);
border: 1px solid #000;
 font-family: Arial;
}

.alert-success {
color: #000;
background: rgba(130, 163, 206, 0.21);
border: 1px solid #000;
 font-family: Arial;
}

.breadcrumb {
background:  rgba(130, 163, 206, 0.21);
font-size: 13px;
border: 1px solid #000;
 font-family: Arial;
}
 
.breadcrumb>.active {
color: #000;
 font-family: Arial;
}
 
h1 small, h2, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
font-family: "Carter One";
color: #000;
 font-family: Arial;
}
 
.col-md-9 {
background: none;
border: 0px solid #000;
 font-family: Arial;
}
 
/* TABLES */
 
#lion_image {
border-radius: 25px;
overflow: hidden;
border: 1px solid #000;
 font-family: Arial;
}
 
.table, .item {
border: 1px solid #000;
background: rgba(130, 163, 206, 0.21);
border-collapse: separate;
 font-family: Arial;
}

.table .right, .table .right_odd {
background: none;
border: 0px solid #000;
 font-family: Arial;
}

/* top and bottom of boxes */
div .feature, .cave-grid, div .left, .mound-grid,  .table .bottom,  .table .top, .table th, .item-header, .item-footer {
border: 0px solid #000;
background: rgba(130, 163, 206, 0.21);
color: #000;
 font-family: Arial;
}

/* cave and mound boxes */
.cave-grid, div .left, .mound-grid {
border: 1px solid #000;
background: #FFF9F3;
color: #000;
 font-family: Arial;
}

/* left part inside box */
.table .left {
border: 1px solid #000;
background: rgba(130, 163, 206, 0.21);
color: #000;
 font-family: Arial;
}

/* right part inside box */
.inner-table .right {
background: rgba(130, 163, 206, 0.21);
border: 1px solid #000;
border-left: none;
 font-family: Arial;
}

/* logo */
body > div.container.main > div:nth-child(1) > nav > div.navbar-header > a > img {
 content: url('https://i.imgur.com/6K14eiR.png')}

/* SCROLLBAR */
::-webkit-scrollbar {
width: 10px;
}
  
/* part the scroll sits on*/
::-webkit-scrollbar-track {
background-color: #022255;
}
  
/* The thingy that moves */
::-webkit-scrollbar-thumb {
background-color:  #FFF9F3;
border-radius: 0px;
border: none;
}

/* UNSEEN TEXT THAT SHOULD ALWAYS BE BLACK */
textarea {color:black!important;}

input[tpye="text"] {color:black!important;}

select {color:black!important;}

 
 /* fill in for extra info */
 
 
 /* HTML is 
<div class="box1"> 
TEXT HERE
</div>
<div class="box2"> 
TEXT HERE
</div>
<div class="box3"> 
TEXT HERE
</div>
<div class="boxfloat"> 
TEXT HERE
</div>
<div class="boxfloat">Floating box</div> */
