div.box1 {
background:rgba(200, 82, 90, 0.80);
text-align:center;
color:black;
width:700px;
height:60px;
border:3px double black;
 transition:all ease 2s;
border-radius:5px;
overflow:hidden;
}

.box1:hover {
background:rgba(200, 82, 90, 0.80);
text-align:center;
color:black;
width:700;
height:255px;
border:3px double black;
transition:all ease 2s;
border-radius:5px;
overflow:auto;
}

div.box2 {
background:rgba(200, 82, 90, 0.80);
text-align:center;
color:black;
width:700px;
height:60px;
border:3px double black;
 transition:all ease 2s;
border-radius:5px;
overflow:hidden;
}

.box2:hover {
background:rgba(200, 82, 90, 0.80);
text-align:center;
color:black;
width:1000px;
height:700px;
border:3px double black;
transition:all ease 2s;
border-radius:5px;
overflow:auto;
}

div.box3 {
background:rgba(200, 82, 90, 0.80);
text-align:center;
color:black;
width:700px;
height:60px;
border:3px double black;
 transition:all ease 2s;
border-radius:5px;
overflow:hidden;
}

.box3:hover {
background:rgba(200, 82, 90, 0.80);
text-align:center;
color:black;
width:700px;
height:400px;
border:3px double black;
transition:all ease 2s;
border-radius:5px;
overflow:auto;
}

div.boxfloat {
background:rgba(200, 82, 90, 0.80);
color:black;
border:3px double black;
position:fixed;
text-align:center;
border-radius:5px;
left:0px;
bottom:0px;
width:165px;
height:100px;
overflow:auto;
}

body {background: url("https://i.imgur.com/9wWa8gj.gif") fixed;background-repeat: no-repeat;background-size: cover;color: #000;}

.welcomeback, .white, .bottomlinks li a:hover, .bottomlinks li a {
color: #000;
}

h1, h3 , .sidebar h3 {
font-family: 'Nixie One', cursive !important;
text-align: left;
color: #000;
border-bottom: 1px solid #000;
}

/* BUTTONS */
input[type="button"], input[type="submit"], input[type="submit"]:hover {
background: rgba(102, 102, 102, 0.80);
color: #000;
border: 1px solid #000;
text-shadow: none;
font-weight: bold;
font-size: 14px;
border-radius: 5px;
font-family: 'Nixie One', cursive;
}
 
 
/* LINKS */
 
.table a:link, .table a:active, .table a:visited, .right a:link, .right a:active, .right a:visited, .bottom a:link, .bottom a:active, .bottom a:visited, .topbar a:link, .topbar a:visited, .topbar a:active, a:link, a:visited, a:active {
color: #000000;
font-family: 'Nixie One', cursive;
}
 
.table .top a:link, .table .top a:active, .table .top a:visited, .table th a:link, .table th a:active, .table th a:visited {
border-bottom: 1px solid #000000;
color: #000000;
font-family: 'Nixie One', cursive;
}
 
/* TOPBAR */
 
.topbar {
background: rgba(200, 82, 90, 0.80);
border: 3px double #000;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
font-family: 'Nixie One', cursive;
}

.badge {
background: rgba(200, 82, 90, 0.80);
border: 3px double #000;
font-family: 'Nixie One', cursive;
}
 
/* NAVBAR */
 
.main {
background: rgba(164, 164, 164, 0.21);
border: 3px double #000;
box-shadow: none;
font-family: 'Nixie One', cursive;
}
 
.navbar {
background: rgba(200, 82, 90, 0.80);
border-bottom: 3px double #000;
color: #000;
font-family: 'Nixie One', cursive;
}
 
.navbar-default .navbar-nav > li > a {
color: #000;
font-family: 'Nixie One', cursive;
}
 
.navbar-default .navbar-nav li a:hover {
color: #000;
background: #C8525A;
border-left: 1px solid #000;
border-right: 1px solid #000;
font-family: 'Nixie One', cursive;
} 
 
 
 
/* SIDEBAR */
 
.sidebar {
background: rgba(164, 164, 164, 0.21);
border: 0px solid #000;
border-bottom: 3px double #000;
border-left: 3px double #000;
color: #000;
font-family: 'Nixie One', cursive;
}
 
.col-md-3 .panel {
background: rgba(200, 82, 90, 0.80);
border: 3px double #000;
box-shadow: none;  
font-family: 'Nixie One', cursive;
}
 
.progress-bar {
background: #666666;
font-family: 'Nixie One', cursive;
}
 
.progress {
background: #8c8c8c;
border: 1px solid #000;
font-family: 'Nixie One', cursive;
}
/* text on progress bars */
.progress div {color: #000;}
 
/* CHAT */
 
.chat_light, .chat_dark {
background: rgba(200, 82, 90, 0.80);
font-size: 11px;
color: #000;
font-family: 'Nixie One', cursive;
}

.chatContainer {
border: 1px solid #000;
 font-family: 'Nixie One', cursive;
}
 
.userstolen {
background: none;
 font-family: 'Nixie One', cursive;
}

.alert-danger {
color: #000000;
background: rgba(102, 102, 102, 0.80);
border: 3px double #000;
 font-family: 'Nixie One', cursive;
}

.alert-success {
color: #000;
background: rgba(140, 140, 140, 0.80);
border: 3px double #000;
 font-family: 'Nixie One', cursive;
}

.breadcrumb {
background:  rgba(200, 82, 90, 0.80);
font-size: 13px;
border: 3px double #000;
 font-family: 'Nixie One', cursive;
}
 
.breadcrumb>.active {
color: #000;
 font-family: 'Nixie One', cursive;
}
 
h1 small, h2, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
font-family: "Carter One";
color: #000;
 font-family: 'Nixie One', cursive;
}
 
.col-md-9 {
background: none;
border: 0px solid #000;
 font-family: 'Nixie One', cursive;
}
 
/* TABLES */
 
#lion_image {
border-radius: 25px;
overflow: hidden;
border: 1px solid #000;
 font-family: 'Nixie One', cursive;
}
 
.table, .item {
border: 3px double #000;
background: rgba(200, 82, 90, 0.80);
border-collapse: separate;
 font-family: 'Nixie One', cursive;
}

.table .right, .table .right_odd {
background: none;
border: 0px solid #000;
 font-family: 'Nixie One', cursive;
}

/* top and bottom of boxes */
div .feature, .cave-grid, div .left, .mound-grid,  .table .bottom,  .table .top, .table th, .item-header, .item-footer {
border: 0px solid #000;
background: rgba(200, 82, 90, 0.80);
color: #000;
 font-family: 'Nixie One', cursive;
}

/* cave and mound boxes */
.cave-grid, div .left, .mound-grid {
border: 3px double #000;
background: #C8525A;
color: #000;
 font-family: 'Nixie One', cursive;
}

/* left part inside box */
.table .left {
border: 1px solid #000;
background: rgba(102, 102, 102, 0.80);
color: #000;
 font-family: 'Nixie One', cursive;
}

/* right part inside box */
.inner-table .right {
background: rgba(140, 140, 140, 0.80);
border: 1px solid #000;
border-left: none;
 font-family: 'Nixie One', cursive;
}

/* logo */
body > div.container.main > div:nth-child(1) > nav > div.navbar-header > a > img {
 content: url('https://i.imgur.com/UzlpcOd.png')}

/* SCROLLBAR */
::-webkit-scrollbar {
width: 10px;
}
  
/* part the scroll sits on*/
::-webkit-scrollbar-track {
background-color: #9E9E9E;
}
  
/* The thingy that moves */
::-webkit-scrollbar-thumb {
background-color:  #58534D;
border-radius: 0px;
border: none;
}

/* UNSEEN TEXT THAT SHOULD ALWAYS BE BLACK */
textarea {color:black!important;}

input[tpye="text"] {color:black!important;}

select {color:black!important;}

 
 /* fill in for extra info */
 
 
 /* HTML is 
<div class="box1"> 
TEXT HERE
</div>
<div class="box2"> 
TEXT HERE
</div>
<div class="box3"> 
TEXT HERE
</div>
<div class="boxfloat"> 
TEXT HERE
</div>
<div class="boxfloat">Floating box</div> */



